.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin-top: 20px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  color: white;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h2 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 16px;
}

.pokemon-card:hover {
  transform: scale(1.1); /* Add a hover effect */
}
