.moves-page {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.moves-page.dark {
  background-color: #333;
  color: #f4f4f4;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.dark-mode-toggle img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.dark-mode-toggle img:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1e90ff;
  color: white;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #ff4500;
}

.moves-page h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.moves-page.dark h1 {
  color: #f4f4f4;
}

.moves-page input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  margin: 20px auto;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moves-page.dark input[type="text"] {
  background-color: #444;
  color: #f4f4f4;
  border-color: #555;
}

.moves-page input[type="text"]:focus {
  border-color: #6390F0;
  box-shadow: 0 4px 8px rgba(99, 144, 240, 0.5);
}

.moves-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.move-card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  cursor: pointer;
}

.moves-page.dark .move-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.move-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
